* {
    box-sizing: border-box;
}

body {
    background-image: url("images/paper.jpg");
    background-repeat: repeat;
}

a {
    text-decoration: none;
}

a:visited {
    color: darkslategray;
}

a:hover {
    color: crimson;
}

#footer {
    padding: 1px 10px;
    color: lightgrey;
    font-size: 12px;
}

/* Desktop menu */

#menu {
    margin: 0 auto;
}

#menu-list {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.menu-item {
    padding: 5px;
}

.menu-item:hover {
    color: white;
    background-color: crimson;
}

/* -------------------- */

.container {
    display: flex;
    flex-direction: column;
    /*background-color: lime;*/
}

.box {
    margin: 10px;
    /*background-color: yellow;*/
    width: 100%;
}

.menu-button {
    margin: 0 auto;
    padding: 10px;
}

.menu-button > i {
    font-size: 50px;
    cursor: pointer;
}

.title {
    margin: 10px auto;
    text-align: center;
    font-family: 'Dancing Script';
    font-size: 36px;
    color: crimson;
    display: block
}

.subtitle {
    margin: 10px auto;
    text-align: center;
    font-family: 'Dancing Script';
    font-size: 24px;
    color: crimson;
}

.text-bold {
    font-weight: bold;
}

.section {
    margin: 10px;
    text-align: center;
}

.avatar {
    height: 50px;
    filter: invert(16%) sepia(99%) saturate(5863%) hue-rotate(343deg) brightness(90%) contrast(91%);    /* = crimson */
    z-index:999;
}

.avatar.mini {
    height: 20px;
}

.avatar.white {
    filter: invert(100%) sepia(77%) saturate(1%) hue-rotate(50deg) brightness(107%) contrast(101%);
}

.badge {
    height: 50px;
}

.avatar-title {
    text-align: center;
    color: crimson;
    font-size: 50px;
}

#countdown {
    text-align: center;
    color: crimson;
    font-size: 24px;
    padding: 50px;
}

.page {
    position: absolute;
    top: 20px;
    /*bottom: 20px;*/
    left: 20px;
    right: 20px;
    border-radius: 10px;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

#banner {
    width: 100%;
    padding-bottom: 36%;
}

.img-banner {
    width: 100%;
}

.text {
    font-family: 'Roboto';
    color: DarkSlateGray;
}

.content {
    font-family: 'Roboto';
    color: DarkSlateGray;
}

#header {
    position: sticky; top: 0;
    background-color: white;
    z-index: 998;
}

#menu-button {
    position: absolute;
    padding-left: 10px;
    font-size: 24px;
}

.hidden {
    display: none;
}

#chip {
    margin: 10px auto;
    width: 170px;
    color: white;
    background-color: crimson;
    padding: 7px;
    border-radius: 5px;
    cursor: pointer;
    transition: 1s;
}

#chip:hover {
    opacity: 0.75;
}

#chip.copied {
    transition: 0.1s;
    background-color: green;
}

/* -------------------------- CURTAIN MENU --------------------------*/

/* The Overlay (background) */
.overlay {
    /* Height & width depends on how you want to reveal the overlay (see JS below) */   
    height: 100%;
    width: 0;
    position: fixed; /* Stay in place */
    z-index: 999; /* Sit on top */
    left: 0;
    top: 0;
    background-color: rgb(0,0,0); /* Black fallback color */
    background-color: rgba(0,0,0, 0.9); /* Black w/opacity */
    overflow-x: hidden; /* Disable horizontal scroll */
    transition: 0.5s; /* 0.5 second transition effect to slide in or slide down the overlay (height or width, depending on reveal) */
}

/* Position the content inside the overlay */
.overlay-content {
    position: relative;
    top: 25%; /* 25% from the top */
    width: 100%; /* 100% width */
    text-align: center; /* Centered text/links */
    margin-top: 30px; /* 30px top margin to avoid conflict with the close button on smaller screens */
}
  
/* The navigation links inside the overlay */
.overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    font-family: 'Roboto';
    color: #818181;
    display: block; /* Display block instead of inline */
    transition: 0.3s; /* Transition effects on hover (color) */
}
  
/* When you mouse over the navigation links, change their color */
.overlay a:hover, .overlay a:focus {
    color: #f1f1f1;
    background-color: crimson;
}

.overlay a:active {
    background-color: red;
}
  
/* Position the close button (top right corner) */
.overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
}
  
/* When the height of the screen is less than 450 pixels, change the font-size of the links and position the close button again, so they don't overlap */
@media screen and (max-height: 450px) {
    .overlay a {
        font-size: 20px
    }

    .overlay .closebtn {
        font-size: 40px;
        top: 15px;
        right: 35px;
    }
}

/* -------------------------- TOOLTIP -------------------------- */

.tooltiptext {
    padding: 2px;
    background-color: green;
    color: #fff;
    /*
    transition: 2s;
    opacity: 0;
    */
}

.tooltip-show {
    visibility: visible;
    /*transition: 0.2s;*/
    opacity: 1;
}

.tooltip-hide {
    visibility: hidden;
    transition: 1s;
    opacity: 0;
}

/* -------------------------- BANNER SLIDESHOW -------------------------- */
img.img-banner {
    position: absolute;
    transition: opacity .5s ease-in;
  }
  
img.img-banner + img.img.banner { opacity: 0; }